<div id="<%= dom_id todo %>">
  <p class="form-control form-control-sm">
    <strong>Todo title:</strong>
    <%= todo.todo_title %>
  </p>

  <p class="form-control form-control-sm">
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p class="form-control form-control-sm">
    <strong>Creation date:</strong>
    <%= todo.creation_date %>
  </p>

  <p class="form-control form-control-sm">
    <strong>Completion date:</strong>
    <%= todo.completion_date %>
  </p>

</div>
